/* CSS Document */
@font-face {
    font-family: 'Interstate';
    src: url('../fonts/Interstate-Light.eot');
    src: url('../fonts/Interstate-Light.eot?iefix') format('eot'),
         url('../fonts/Interstate-Light.ttf') format('truetype'),
         url('../fonts/Interstate-Light.svg#webfontYIfA6ciK') format('svg');

}

@font-face {
    font-family: 'Interstate-Light';
    src: url('../fonts/Interstate-Light.eot');
    src: local('../fonts/Interstate-Light Interstate Interstate'), local('../fonts/Interstate-Light'), url('../fonts/Interstate-Light.ttf') format('truetype');
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {
    font-family: Verdana, Geneva, sans-serif; 
    background:url(../images/mainbg.jpg) repeat left top;
}

a{ text-decoration:underline; color:#231f20;}
a:hover{ text-decoration:none; color:#231f20;}


#container{ width:965px; margin:0 auto; min-height:1550px;}
#header{ background:url(../images/header-image.png) no-repeat left 91px; height:414px; width:965px;}
.logo{ float:right; margin:0; padding:30px 41px 0 0;}
.stamp{ margin:0; padding:46px 0 0 40px;}
.heading{ float:left; margin:0; padding:10px 0 0 60px; width:905px;}
.heading h2{ margin:0; padding:0; font-size:22px; color:#67737a; text-transform:uppercase;}
.heading h3{ margin:0; padding:15px 0; font-size:92px; color:#5787ab;}
.heading h4{ margin:0; padding:0; font-size:20px; color:#67737a; text-transform:uppercase;}
#content-section{ background:url(../images/content-bg.png) repeat-y left top; width:965px; min-height:670px;}
#leftsection{ float:left; margin:0; padding:40px 40px 0 70px; width:533px;}
#leftsection h2{ margin:0; padding:0; font-size:19px; color:#5787ab; text-transform:uppercase; line-height:30px;}
#leftsection h2 a{ text-decoration:underline; color:#5787ab;}
#leftsection h2 a:hover{ text-decoration:none; color:#5787ab;}

#leftsection ul{ margin:0; padding:0;}
#leftsection ul li{ margin:0; padding:5px 0; font-size:12px; color:#231f20; list-style-type:none; line-height:18px;}
#leftsection ul li span{ text-transform:uppercase; font-weight:bold; font-size:14px;}
sup {font-size:9px; padding-left:1px;  }

.button2{ margin:0; padding:30px 0 0 0px;}
.button2 p{ margin:0; padding:11px 0 0 5px; font-size:14px; color:#231f20; display:inline-block;}
.lftcardinfo{ margin:0; padding:20px 222px 0 0; font-size:10px; color:#231f20;}

#rightsection{ float:left; margin:0; padding:0; width:250px;}
.rightback{background-color:#ffffff; overflow:hidden; width:265px; padding:0; margin:0;}
.visacard{ float:left; margin-top:-104px; padding:0; position:absolute;}
.btnposition{ position:relative;}
.button1{ margin:0px 0 0 0px; padding:70px 0 0 55px; position:absolute; z-index:1;}

.cardinfo{ margin:0; padding:130px 106px 30px 16px;  font-size:10px; color:#231f20; float:left; width:236px;}
.accum-txt{ margin:0 0 0 -27px; padding:35px 0 0 0px; float:left; width:318px;}
.accum-txt h2{ margin:0; padding:0 0 10px 0;  font-size:14px; color:#231f20; text-transform:uppercase; text-align:center;}
.accum-txt h3{ line-height: 15px; margin:0; padding:4px 0 0 0; font-size:12px; color:#5787ab; text-align:center; background:url(../images/right-txt-borders.png) no-repeat center top; height:40px;}

.button6{ padding:8px 106px 0 16px; float:left; width:236px;}
.button6 p{ margin:0; padding:0 24px 12px 5px;  font-size:11px; color:#231f20; text-transform:uppercase; background:url(../images/bottom-line.png) no-repeat center bottom;}
.button3{ padding:8px 106px 0 16px; float:left; width:236px;}
.button3 p{ margin:0; padding:0 0 12px 5px; font-size:11px; color:#231f20; text-transform:uppercase; background:url(../images/bottom-line.png) no-repeat center bottom;}
.right-bot-txt{ float:left; margin:0; padding:15px 106px 30px 25px; font-size:13px; color:#231f20; width:227px;}
.hhlogo{ width:238px; padding-left:125px; margin-top:8px;}

.bott-icons{ margin:0; padding:0; width:965px; background:url(../images/content-bg.png) repeat-y left top;}
.bott-icons ul{ margin:0; padding:0 0 0 43px; }
.bott-icons ul li{ margin:0 0 0 0px; padding:0 14px 0 8px; display:inline;}

#footer{ float:left; width:875px; margin:0; padding:0 25px 0 65px; font-size:10px;}
#footer ul{ margin:0; padding:0;}
#footer ul li{ margin:0; padding:0 0 10px 0; color:#231f20; list-style-type:decimal;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
